*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow: auto;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'LatoWeb';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

button,
input {
  margin: 0;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol,
li,
a {
  list-style: none;
}

a:visited {
  color: black;
}

.header {
  display: grid;
}

.header__black {
  display: grid;
  grid-template-rows: 40px auto;
  color: rgb(255, 255, 255);
  background-color: rgb(35, 24, 21);
}

.header__black-menu {
  display: grid;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, max-content);
  justify-content: end;
  gap: 70px;
  padding-inline-end: 260px;
  cursor: pointer;
}

.header__white {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: auto auto auto;
  padding-inline: 260px;
  align-items: center;
  justify-content: space-between;
}

.header__white-logo {
  display: grid;
  align-items: center;
  width: 217px;
  height: 56.38px;
}

.header__white-logo_img {
  display: grid;
  width:100%;
  height: 100%;
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.header__white-menu {
  display: flex;
  color: rgba(35, 24, 21, 1);
}

.header__white-links_list {
  display: flex;
  gap: 100px;
  color: rgba(35, 24, 21, 1);
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  padding-block-start: 30px;
  padding-block-end: 33px;
  padding-inline-start: 236px;
  padding-inline-end: 124px;
}

.header__white-interactive {
  display: flex;
  gap: 20px;
  min-width: 328px;
  min-height: 39px;
}

.header__white-search {
  display: flex;
  outline: 1px solid rgb(245, 245, 245, 1);
  border-radius: 35px;
  max-width: 170px;
}

.header__white-search_button {
  display: flex;
  border: none;
  outline: none;
}

input[type="search"] {
  display: flex;
  outline: none;
  border: none;
  max-width: 58%;
  margin-inline-start: 21px;
  outline: none;
  border: none;
  font-size: 14px;
}

input[type="search"]::placeholder {
  color: rgb(35, 24, 21);
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
}

button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent url("data:image/svg+xml,%3Csvg width='21.272705' height='21.272705' viewBox='0 0 21.2727 21.2727' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Vector' d='M10.19 19.27C5.18 19.27 1.1 15.2 1.1 10.19C1.1 5.18 5.18 1.1 10.19 1.1C15.2 1.1 19.27 5.18 19.27 10.19C19.27 15.2 15.2 19.27 10.19 19.27ZM10.19 2.43C5.91 2.43 2.43 5.92 2.43 10.19C2.43 14.46 5.91 17.94 10.19 17.94C14.47 17.94 17.94 14.46 17.94 10.19C17.94 5.92 14.47 2.43 10.19 2.43Z' fill='%23231815' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M19.5 20.16C19.33 20.16 19.16 20.1 19.03 19.96L17.25 18.19C17 17.93 17 17.51 17.25 17.25C17.51 17 17.93 17 18.19 17.25L19.96 19.03C20.22 19.28 20.22 19.71 19.96 19.96C19.83 20.1 19.66 20.16 19.5 20.16Z' fill='%23231815' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cg opacity='0.000000'/%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 1;
}

.header__white-basket {
  display: grid;
}

.header__white-basket_button {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  min-width: 138px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__white-basket-bag {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32.67px;
  height: 32px;
  background: transparent url("data:image/svg+xml,%3Csvg width='20.167603' height='25.500000' viewBox='0 0 20.1676 25.5' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector-38' d='M3.08 6.75L17.08 6.75C18.39 6.76 19.43 7.84 19.41 9.15L19.41 19.95C19.45 22.56 17.36 24.71 14.75 24.75L5.41 24.75C2.8 24.71 0.71 22.56 0.75 19.95L0.75 9.15C0.73 7.84 1.77 6.76 3.08 6.75Z' stroke='%23FFFFFF' stroke-opacity='1.000000' stroke-width='1.500000' stroke-linejoin='round'/%3E%3Cpath id='Vector-39' d='M14.75 10.35L14.75 5.55C14.78 2.93 12.69 0.78 10.08 0.75C7.46 0.78 5.38 2.93 5.41 5.55L5.41 10.35' stroke='%23FFFFFF' stroke-opacity='1.000000' stroke-width='1.500000' stroke-linejoin='round' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat center;
}

.header__white-basket_counter {
  display: flex;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -2px;
  top: 0;
  color: #000000;
  background: white;
  border-radius: 3cqb;
  padding: 2px;
}

.nav-toggle {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  position: absolute;
  top: 19px;
  left: 6px;
  right: 10px;
  width: 24px;
  height: 1.6px;
  background: rgb(0, 0, 0);
}

.nav-toggle span:before,
.nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 1.6px;
  background: rgb(0, 0, 0);
}

.nav-toggle span:before {
  top: -5px;
}

.nav-toggle span:after {
  bottom: -5px;
}

.main {
  display: grid;
  margin-block-start: 60px;
  margin-block-end: 50px;
  padding-inline: 260px;
}

.main__title {
  display: grid;
  grid-template-rows: 62px auto;
  font-family: 'Korataki';
  justify-content: start;
  font-size: clamp(1.5rem, 1.1814rem + 1.3072vw, 2.75rem);
  color: rgba(35, 24, 21, 1);
  font-weight: 400;
  line-height: 61.6px;
}

.main__lighting-list {
  display: grid;
  justify-content: space-between;
  gap: 40px;
  margin-block-start: 40px;
  grid-template-columns: repeat(4, minmax(320px, auto));
  grid-template-rows: repeat(2, minmax(565px, auto));
}

.lighting {
  display: grid;
  gap: 17px;
  grid-template-rows: minmax(477px, auto) minmax(68px, auto);
  margin-block-end: 10px;
}

.lighting_sales {
  display: grid;
  gap: 17px;
  grid-template-rows: minmax(477px, auto) minmax(68px, auto);
  margin-block-end: 10px;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.lighting_sales .sales:after {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: rgb(35, 24, 21);
  font-family: 'LatoWeb';
  position: absolute;
  content: "Акция";
  inset-inline-start: 10px;
  inset-block-start: 10px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  width: 126px;
  height: 40px;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: rgba(245, 245, 245, 0.7);
  position: absolute;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.overlay_button {
  display: flex;
  color: #ffffff;
  background: rgb(228, 83, 2);
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 48px;
  border: none;
  opacity: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  border-radius: 100px;
  cursor: pointer;
}

.image:hover .overlay {
  display: grid;
  height: 88px;
  width: 100%;
}

.image:hover .overlay_button {
  opacity: 1;
}

.information {
  display: grid;
  gap: 12px;
}

.description {
  display: grid;
  align-items: start;
  font-size: clamp(1rem, 0.9681rem + 0.1307vw, 1.125rem);
}

.price {
  display: flex;
  gap: 12px;
  font-family: 'LatoWeb';
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
}

.lighting_sales .price_main {
  display: none;
}

.lighting_sales .price_sales {
  display: flex;
  color: rgba(228, 83, 2, 1)
}

.lighting_sales .price_old {
  display: flex;
  align-items: center;
  text-decoration-line: line-through;
  color: rgba(128, 128, 128, 1);
}

.lighting .price_main {
  display: flex;
}

.lighting .price_sales {
  display: none;
}

.lighting .price_old {
  display: none;
}

.footer {
  display: grid;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 12, 12);
}

.footer__black {
  display: grid;
  padding-inline: 260px;
  padding-block: 60px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}

.title {
  font-family: 'LatoWeb';
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.logo {
  display: grid;
  order: 1;
  width: 239px;
  height: 62.1px;
}

.address {
  display: grid;
  margin-inline-start: 14px;
  gap: 20px;
  order: 2;
  grid-template-rows: repeat(2, max-content);
}

.contacts {
  display: grid;
  margin-inline-start: 14px;
  gap: 20px;
  margin-block-start: 30px;
  order: 6;
  grid-template-rows: repeat(2, max-content);
}

.services {
  display: grid;
  margin-inline-start: 52px;
  order: 3;
  grid-template-rows: repeat(2, max-content);
  gap: 20px;
  grid-auto-flow: column;
  grid-row: span 2;
}

.links {
  display: grid;
  order: 4;
  color: rgb(128, 128, 128);
  grid-template-rows: repeat(2, min-content);
}

.pay {
  display: grid;
  margin-block-start: 38px;
  order: 8;
}

.protection {
  display: grid;
  align-items: end;
  margin-block-start: 48px;
  order: 5;
  color: rgba(128, 128, 128, 1);
  font-family: 'Roboto';
  font-weight: 400;
}

.logo_img {
  width: 100%;
  height: 100%;
  background: transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 217 56.3837' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs/%3E%3Cpath id='Vector' d='M48.03 56.38L8.35 56.38C3.72 56.38 0 52.66 0 48.03L0 8.35C0 3.72 3.72 0 8.35 0L48.03 0C52.66 0 56.38 3.72 56.38 8.35L56.38 48.03C56.38 52.66 52.57 56.38 48.03 56.38Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M27.78 18.24C27.78 18.24 33.32 14.89 36.68 12.98C40.04 11.07 41.94 10.44 43.85 10.26C45.76 10.16 47.93 11.16 47.93 11.16L41.85 7.35C41.85 7.35 41.03 6.8 38.76 7.08C36.49 7.35 35.31 7.99 33.86 8.71C32.41 9.53 22.69 15.25 22.69 15.25L27.78 18.24Z' fill='%23231815' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M42.31 15.7C42.31 15.7 45.12 19.61 42.94 26.51C40.76 33.41 35.68 37.31 35.31 37.58C35.04 37.86 31.86 39.67 31.86 39.67L31.95 45.12C31.95 45.12 42.12 41.58 46.39 31.77C50.2 23.15 47.75 18.52 45.85 16.52C44.76 15.34 42.31 15.7 42.31 15.7Z' fill='%23231815' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M27.78 45.03L22.69 42.03L22.69 15.34L27.78 18.24L27.78 45.03Z' fill='%23231815' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M12.25 37.22L7.17 34.13L7.17 7.53L12.16 10.35L12.25 37.22Z' fill='%23231815' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M7.17 34.13C7.17 34.13 5.9 45.39 15.07 49.48C20.33 51.84 24.24 50.48 26.05 48.66C27.51 47.21 27.69 45.03 27.69 45.03L22.6 41.94C22.6 41.94 22.6 43.03 21.79 43.85C20.88 44.85 19.43 45.85 16.16 44.21C11.98 42.03 12.16 37.22 12.16 37.22L7.17 34.13Z' fill='%23231815' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M12.16 10.35L16.25 8.26L11.62 5.72L7.17 7.53L12.16 10.35Z' fill='%23231815' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M211.91 43.49L213.91 43.49L213.91 43.94L213.09 43.94L213.09 46.03L212.64 46.03L212.64 43.94L211.82 43.94L211.91 43.49Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M214.27 43.49L214.82 43.49L215.63 45.12L216.45 43.49L217 43.49L217 46.03L216.54 46.03L216.54 44.21L215.72 45.76L215.45 45.76L214.64 44.21L214.64 46.03L214.27 46.03L214.27 43.49Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M209.19 43.67C209.19 44.58 209.19 45.3 209.19 46.21C205.46 46.21 201.74 46.21 198.11 46.21C195.39 46.21 195.39 46.21 195.39 48.84C195.39 52.75 195.39 52.75 199.2 52.75C201.2 52.75 203.19 52.66 205.1 52.75C206.55 52.84 207.01 52.29 206.83 50.93C206.74 50.11 206.83 49.21 206.83 48.21C207.73 48.21 208.55 48.21 209.64 48.21C209.64 49.75 209.73 51.2 209.64 52.75C209.55 54.29 208.55 55.2 207.1 55.29C203.1 55.38 199.2 55.38 195.2 55.29C193.39 55.29 192.48 54.11 192.48 52.29C192.48 50.48 192.48 48.57 192.48 46.75C192.48 44.76 193.39 43.76 195.3 43.67C199.93 43.58 204.47 43.67 209.19 43.67Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M68.45 24.42L71.27 24.42L71.27 33.14C71.27 33.32 71.45 33.5 71.63 33.5L82.62 33.5C82.8 33.5 82.98 33.32 82.98 33.14L82.98 24.42L85.89 24.42C85.89 27.6 85.98 30.68 85.89 33.77C85.89 35.22 84.89 36.13 83.53 36.13C79.17 36.22 75.26 36.22 70.82 36.13C69.36 36.13 68.45 35.13 68.45 33.59C68.36 30.59 68.45 27.51 68.45 24.42Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M131.83 43.67L134.64 43.67L134.64 52.2C134.64 52.38 134.83 52.57 135.01 52.57L147.72 52.57L147.72 55.2C147.72 55.2 135.19 55.2 135.1 55.2C132.56 55.2 131.74 54.2 131.74 51.93C131.83 49.48 131.83 46.39 131.83 43.67Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M168.42 43.76C169.33 43.76 170.05 43.76 171.05 43.76C171.05 47.57 171.05 51.38 171.05 55.29C170.24 55.29 169.42 55.29 168.42 55.29C168.42 51.38 168.42 47.66 168.42 43.76Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M125.75 30.05C125.75 30.05 126.2 29.32 126.2 28.96C126.75 26.78 125.93 24.51 123.75 24.42C118.85 24.24 113.94 24.33 108.86 24.33C108.86 28.23 108.86 32.05 108.86 36.04C113.49 36.04 118.03 36.04 122.57 36.04C126.11 36.04 126.65 33.41 126.11 30.96C126.11 30.68 125.75 30.05 125.75 30.05ZM122.75 33.41L111.95 33.5L111.95 31.32C111.95 31.32 120.75 31.32 122.75 31.32C122.93 31.32 123.11 31.5 123.11 31.68L123.11 33.04C123.11 33.23 122.93 33.41 122.75 33.41ZM122.75 29.14L111.95 29.23L111.95 27.05C111.95 27.05 120.75 27.05 122.75 27.05C122.93 27.05 123.11 27.23 123.11 27.42L123.11 28.78C123.11 28.96 122.93 29.14 122.75 29.14Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M141.55 26.6C140.64 24.78 139.28 24.42 137.46 24.42C135.55 24.42 134.28 24.78 133.37 26.6C133.37 26.6 129.92 32.77 127.93 36.13L131.47 36.13L136.37 27.23C136.46 27.14 136.55 27.05 136.73 27.05L138.37 27.05C138.46 27.05 138.64 27.14 138.73 27.23L143.63 36.13C143.63 36.13 146.27 36.13 147.17 36.13C145 32.77 141.45 26.6 141.55 26.6Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M165.7 24.42L162.7 24.42C162.7 27.32 162.7 30.23 162.7 33.5C162.7 33.5 162.25 33.59 161.61 33.04C160.07 31.59 156.62 27.42 156.16 26.96C156.16 26.96 156.16 26.87 156.07 26.87C155.8 26.51 155.53 26.23 155.44 26.14C154.35 25.05 153.71 24.51 151.71 24.33L149.08 24.33C149.08 27.87 149.08 32.5 149.08 36.04L152.08 36.04C152.08 33.14 152.08 30.23 152.08 26.96C152.08 26.96 152.53 26.87 153.17 27.42C154.71 28.87 158.16 33.04 158.61 33.5C158.61 33.5 158.61 33.59 158.71 33.59C158.98 33.95 159.25 34.22 159.34 34.32C160.43 35.41 161.07 35.95 163.06 36.13L165.7 36.13C165.7 32.59 165.7 27.96 165.7 24.42Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M85.8 45.94C85.8 44.58 84.8 43.76 83.25 43.76C81.62 43.76 79.89 43.76 78.26 43.76C74.9 43.76 71.54 43.76 68.18 43.76C68.18 47.66 68.18 51.38 68.18 55.29C71.45 55.29 74.54 55.29 77.62 55.29C79.53 55.29 81.44 55.29 83.25 55.29C84.71 55.29 85.71 54.38 85.8 53.11C85.8 52.57 85.8 46.48 85.8 45.94ZM82.98 47.48L82.98 51.57L82.98 52.38C82.98 52.57 82.8 52.75 82.62 52.75L71.36 52.75C71.18 52.75 71 52.57 71 52.38L71 46.75C71 46.57 71.18 46.39 71.36 46.39L82.8 46.39C82.98 46.39 82.98 46.57 82.98 46.75L82.98 47.48Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M190.12 43.67L187.12 43.67C187.12 46.57 187.12 49.48 187.12 52.75C187.12 52.75 186.67 52.84 186.03 52.29C184.49 50.84 181.04 46.66 180.59 46.21C180.59 46.21 180.59 46.21 180.5 46.12C180.22 45.76 179.95 45.48 179.86 45.39C178.77 44.3 178.14 43.76 176.14 43.58L173.5 43.58C173.5 47.12 173.5 51.75 173.5 55.29L176.5 55.29C176.5 52.38 176.5 49.48 176.5 46.21C176.5 46.21 176.95 46.12 177.59 46.66C179.13 48.12 182.58 52.29 183.04 52.75C183.04 52.75 183.04 52.75 183.13 52.84C183.4 53.2 183.67 53.47 183.76 53.56C184.85 54.65 185.49 55.2 187.49 55.38L190.12 55.38C190.12 51.84 190.12 47.21 190.12 43.67Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M108.04 43.67C107.59 46.12 106.86 49.3 106.32 51.75C106.23 52.29 106.04 52.66 105.59 52.66C105.05 52.66 105.05 52.29 104.77 51.75C104.77 51.75 102.96 46.94 102.05 44.85C101.69 44.03 101.14 43.67 100.32 43.67C99.96 43.67 99.6 43.67 99.32 43.67L99.23 43.67L99.14 43.67C98.87 43.67 98.51 43.67 98.14 43.67C97.33 43.67 96.78 44.03 96.42 44.85C95.51 46.94 93.7 51.75 93.7 51.75C93.51 52.29 93.42 52.66 92.88 52.66C92.42 52.66 92.24 52.29 92.15 51.75C91.61 49.21 90.97 46.12 90.43 43.67C89.34 43.67 88.43 43.67 87.34 43.67C88.07 46.85 88.79 49.84 89.43 52.75C89.7 54.02 90.06 55.29 91.7 55.2C92.42 55.2 93.42 55.2 94.15 55.2C95.06 55.2 95.51 54.56 95.97 53.29L98.6 46.3C98.87 45.57 98.96 45.48 99.14 45.48C99.32 45.48 99.51 45.57 99.69 46.3L102.32 53.29C102.78 54.56 103.23 55.2 104.14 55.2C104.86 55.2 105.77 55.2 106.59 55.2C108.22 55.2 108.59 54.02 108.86 52.75C109.49 49.84 110.22 46.75 110.95 43.67C110.04 43.67 109.13 43.67 108.04 43.67Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M128.38 48.48L115.4 48.48C115.12 48.48 114.94 48.3 114.94 48.12L114.94 46.75C114.94 46.57 115.12 46.39 115.4 46.39C117.58 46.39 126.02 46.39 128.38 46.39L129.02 46.39C129.02 45.48 129.02 44.67 129.02 43.76C124.02 43.76 119.12 43.67 114.12 43.85C112.04 43.94 111.49 45.85 111.49 48.21C111.49 48.57 111.49 50.11 111.49 50.48C111.49 52.93 111.67 55.47 115.21 55.47C119.75 55.47 124.29 55.47 128.92 55.47C128.92 54.56 128.92 53.65 128.92 52.84L115.31 52.84C115.03 52.84 114.85 52.66 114.85 52.47L114.85 50.93C114.85 50.75 115.03 50.57 115.31 50.57C117.76 50.57 128.92 50.57 128.92 50.57C128.92 49.84 128.92 49.12 128.92 48.48L128.38 48.48Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M149.81 43.67L152.62 43.67L152.62 52.2C152.62 52.38 152.8 52.57 152.99 52.57L165.7 52.57L165.7 55.2C165.7 55.2 153.17 55.2 153.08 55.2C150.53 55.2 149.72 54.2 149.72 51.93C149.81 49.48 149.81 46.39 149.81 43.67Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M101.32 31.59L102.68 31.59C105.14 31.5 105.41 30.23 105.41 28.05C105.41 26.05 104.86 24.6 102.59 24.51L90.7 24.51L87.98 24.51L87.98 36.22L90.7 36.22L90.7 31.68L97.33 31.68L102.23 36.22L106.04 36.22C106.04 36.13 101.32 31.59 101.32 31.59ZM90.79 29.14L90.79 26.96C91.52 26.96 99.78 26.96 101.69 26.96C101.87 26.96 102.05 27.14 102.05 27.32L102.05 28.69C102.05 28.87 101.87 29.05 101.69 29.05L90.79 29.14Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/svg%3E%0A") no-repeat center;
}

.address_content {
  display: grid;
  font-family: 'LatoWeb';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contacts_content {
  display: grid;
  font-family: 'LatoWeb';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  gap: 24px;

}

.services_content {
  display: grid;
  font-family: 'LatoWeb';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  gap: 20px
}

.links_content {
  display: grid;
  gap: 25px;
  justify-items: end;
  width: 100%;
  font-family: 'LatoWeb';
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

.pay_content {
  display: grid;
  align-items: center;
  justify-content: end;
  gap: 33px;
  grid-template-columns: 46px 45px 48.33px;
}

.protection_content {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  width: 382px;
  height: 63px;

}

.links a {
  color: rgb(128, 128, 128);
}

.links a:visited {
  color: rgb(128, 128, 128);
}

.bank_icon {
  width: 100%;
}

.protection a {
  font-family: 'Roboto';
  font-weight: 400;
  color: rgba(128, 128, 128, 1);
  text-decoration: underline;
}

.contacts a {
  color: rgba(255, 255, 255, 1);
}

.services a:visited {
  color: rgba(255, 255, 255, 1);
}

.links a:visited {
  color: rgb(128, 128, 128);
}


@media (max-width:769px) {

  .header__black {
    display: none;
  }
  .header__white {
    display: grid;
    grid-template-rows: 56px auto;
    grid-template-columns: auto auto;
    padding-inline: 35px;
  }
  .header__white-logo {
    width: 141.32px;
    height: 36px;
  }
  .header__white-menu {
    display: none;
  }
  .header__white-interactive {
    display: none;
  }
  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .main {
    margin-block-start: 38px;
    margin-block-end: 22px;
    padding-inline: 35px;
  }
  .main__title {
    grid-template-rows: 68px auto;
    line-height: 33.6px;
  }
  .main__lighting-list {
    gap: 10px;
    margin-block-start: 24px;
    grid-template-columns: repeat(2, minmax(120px, auto));
    grid-template-rows: repeat(4, minmax(320px, auto));
  }

  .lighting {
    gap: 8px;
    grid-template-rows: minmax(230px, auto) minmax(77px, auto);
    margin-block-end: 0;
  }
  .lighting_sales {
    gap: 8px;
    grid-template-rows: minmax(230px, auto) minmax(77px, auto);
    margin-block-end: 0;
  }

  .image img {
    border-radius: 9.73px;
  }
  .lighting_sales .sales:after {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    width: 70px;
    height: 24px;
  }
  .overlay {
    display: none;
  }
  .image:hover .overlay {
    display: none;
  }
  .information {
    gap: 11px;
  }
  .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }
  .price {
    align-items: center;
    gap: 5px;
    margin-block-end: 20px;
  }
  .price_main {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
  }
  .price_sales {
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
  }
  .price_old {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
  }

  .footer__black {
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding-inline: 35px;
    padding-block: 40px;
  }

  .logo {
    margin: 0;
    margin-inline-start: 4px;
    order: 1;
    width: 180px;
    height: 46.77px;
  }
  .address {
    margin:0;
    order: 2;
    margin-block-start: 34px;
    gap: 10px;
  }
  .contacts {
    margin:0;
    order: 3;
    margin-block-start: 30px;
    gap: 6px;
  }
  .services {
    margin:0;
    order: 4;
    margin-block-start: 26px;
    gap: 17px;
  }
  .links {
    justify-content: start;
    margin:0;
    order: 5;
    margin-block-start: 26px;
  }
  .pay {
    justify-items: start;
    order: 6;
    margin-block-start: 72px;
  }
  .protection {
    order: 7;
    margin-block-start: 30px;
    font-size: 16px;
    line-height: 20.8px;
  }

  .address_content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .contacts_content {
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .services_content {
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .links_content {
    justify-items: start;
    justify-content: start;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .pay_content {
    padding-inline-start: 10px;
  }
  .protection_content {
    width: 321px;
    height: 84px;
  }
}

@media (min-width:770px) and (max-width:1599px) {
  .header__black {
    display: none;
  }
  .header__white {
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: auto auto;
    padding-inline: 44px;
  }
  .header__white-logo {
    width: 141.32px;
    height: 36px;
  }
  

  .header__white-interactive {
    display: none;
  }

  .header__white-menu {
    display: none;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .main {
    margin-block-start: 48px;
    margin-block-end: 36px;
    padding-inline: 44px;
  }

  .main__title {
    grid-template-rows: 45px auto;
    line-height: 45px;
  }

  .main__lighting-list {
    grid-template-columns: repeat(2, minmax(320px, auto));
    grid-template-rows: repeat(4, minmax(565px, auto));
    margin-block-end: 6px;
  }

  .lighting {
    display: grid;
    gap: 20px;
    grid-template-rows: minmax(477px, auto) minmax(68px, auto);
    margin-block-end: 6px;
  }

  .lighting_sales {
    display: grid;
    gap: 20px;
    grid-template-rows: minmax(477px, auto) minmax(68px, auto);
    margin-block-end: 6px;
  }

  .footer__black {
    width: 100%;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding-inline: 44px;
    padding-block: 50px;
  }

  .logo {
    order: 1;
    grid-column: span 4;
    grid-row: span 1;
  }

  .address {
    margin-inline-start: 0;
    margin-block-start: 16px;
    order: 2;
    grid-column: span 2;
    grid-row: span 1;
  }

  .contacts {
    margin-inline-start: 0;
    margin-block-start: 16px;
    order: 3;
    grid-column: span 1;
    grid-row: span 2;
  }

  .services {
    margin-inline-start: 26px;
    margin-block-start: 16px;
    order: 4;
    grid-column: span 1;
    grid-row: span 4;
  }

  .links {
    order: 5;
    grid-column: span 3;
    grid-row: span 2;
  }

  .pay {
    justify-items: start;
    margin-block-start: 42px;
    margin-inline-start: 8px;
    order: 6;
    grid-column: span 2;
    grid-row: span 1;
  }

  .protection {
    justify-items: end;
    margin-block-start: 20px;
    margin-inline-start: 48px;
    order: 7;
    grid-column: span 2;
    grid-row: span 1;
  }

  .logo_img {
    width: 180px;
    height: 46.77px;
  }

  .contacts_content {
    gap: 25px;
  }

  .services_content {
    gap: 30px;
  }

  .links_content {
    gap: 20px;
    justify-items: start;
  }

  .protection_content {
    width: 382px;
    height: 63px;
  }
}

@media (min-width:1600px) and (max-width:1919px) {

  .header {
    grid-template-rows: repeat(1, 40px 80px);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }

  .header__black {
    display: grid;
  }

  .header__black-menu {
    padding-inline-end: 180px;
  }

  .header__white {
    padding-inline: 180px;
  }

  .header__white-links_list {
    padding-block-start: 30px;
    padding-block-end: 33px;
    padding-inline-start: 120px;
    padding-inline-end: 136px;
  }

  .header__white-interactive {
    min-width: 200px;
    min-height: 39px;
    gap: 22px;
  }

  input[type="search"] {
    display: none;
  }

  button[type="submit"] {
    width: 39px;
    background: rgb(35, 24, 21) url("data:image/svg+xml,%3Csvg width='21.272705' height='21.272705' viewBox='0 0 21.2727 21.2727' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Vector' d='M10.19 19.27C5.18 19.27 1.1 15.2 1.1 10.19C1.1 5.18 5.18 1.1 10.19 1.1C15.2 1.1 19.27 5.18 19.27 10.19C19.27 15.2 15.2 19.27 10.19 19.27ZM10.19 2.43C5.91 2.43 2.43 5.92 2.43 10.19C2.43 14.46 5.91 17.94 10.19 17.94C14.47 17.94 17.94 14.46 17.94 10.19C17.94 5.92 14.47 2.43 10.19 2.43Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='Vector' d='M19.5 20.16C19.33 20.16 19.16 20.1 19.03 19.96L17.25 18.19C17 17.93 17 17.51 17.25 17.25C17.51 17 17.93 17 18.19 17.25L19.96 19.03C20.22 19.28 20.22 19.71 19.96 19.96C19.83 20.1 19.66 20.16 19.5 20.16Z' fill='%23ffffff' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cg opacity='0.000000'/%3E%3C/svg%3E") no-repeat center;
    border-radius: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .main {
    margin-block-start: 56px;
    margin-block-end: 58px;
    padding-inline: 180px;
  }

  .main__title {
    line-height: 56px;
    grid-template-rows: 56px auto;
  }

  .main__lighting-list {
    display: grid;
    justify-content: space-between;
    gap: 30px;
    margin-block-start: 40px;
    grid-template-columns: repeat(4, minmax(287px, auto));
    grid-template-rows: repeat(2, minmax(516px, auto));
  }

  .lighting {
    display: grid;
    gap: 20px;
    grid-template-rows: minmax(428px, auto) minmax(68px, auto);
    margin-block-end: 2px;
  }

  .lighting_sales {
    display: grid;
    gap: 20px;
    grid-template-rows: minmax(428px, auto) minmax(68px, auto);
    margin-block-end: 2px;
  }

  .footer__black {
    padding-inline: 180px;
  }


  .logo {
    margin-block-start: 4px;
    width: 217px;
    height: 56.38px;
  }

  .address {
    display: grid;
    margin: 0;
    margin-inline-start: 4px;
    gap: 20px;
    order: 2;
    grid-template-rows: repeat(2, min-content);
  }

  .contacts {
    display: grid;
    margin: 0;
    margin-inline-start: 4px;
    gap: 20px;
    margin-block-start: 32px;
    order: 6;
    grid-template-rows: repeat(2, min-content);
  }

  .services {
    display: grid;
    margin: 0;
    margin-left: 20px;
    order: 3;
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
    grid-auto-flow: column;
    grid-row: span 2;
  }

  .links {
    display: grid;
    order: 4;
    color: rgb(128, 128, 128);
    grid-template-rows: repeat(2, min-content);
  }


}